{
  "extends": [
    "airbnb-typescript"
  ],
  "rules": {
    "react/prop-types": "off",
    "jsx-a11y/control-has-associated-label": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}